* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.wrapper {
    min-height: 100%;
}

.container {
    max-width: 1170px;
    margin: 0px auto;
}

.hero {
    background: url(../img/content/ice-cream.png) no-repeat center/cover;
    height: 100vh;
    width: 597px;
    height: 597px;
    left: 889px;
    top: 126px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
}

.logo {
    height: 42px;
    width: 52px;
}

.logo__img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.nav {}

.nav__list {
    display: flex;
}

.nav__item {
    margin-right: 28px;
}