* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.wrapper {
    min-height: 100%;
}

.container {
    max-width: 1170px;
    margin: 0px auto;
}

.hero {
    height: 100vh;
    background-color: #F2CEDA;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
}

.logo {
    height: 79px;
    width: 79px;
}

.logo__img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.nav {}

.nav__list {
    display: flex;
}

.nav__item {
    margin-right: 28px;
}

.content {
    display: flex;
    align-items: center;
}

.content__desc {
    width: 58%;
}

.content__headline {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.1em;
    margin-bottom: 15px;
}

.title {
    font-family: 'Fredoka One', cursive;
    font-weight: 500;
    font-size: 57px;
    line-height: 1.17;
}

.content__title {
    margin-bottom: 24px;
}

.title__element {
    color: #D23166;
}

.content__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 42px;
}

.btn {
    border: none;
    padding: 15px 36px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    background: #F6762C;
    border-radius: 5px;
    color: #FFFFFF;
}

.content__decor {
    height: 600px;
    position: relative;
}

.content__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.content__decor::after {
    content: "";
    display: block;
    background: rgba(210, 49, 102, 0.1);
    width: 365px;
    height: 353px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.content__decor::before {
    content: "";
    display: block;
    width: 100%;
    height: 80%;
    bottom: 0;
    background-image: url(../img/content/milk.png);
    background-size: 110%;
    background-repeat: no-repeat;
    background-position-y: 110px;
    background-position-x: center;
    position: absolute;
}

.food {
    padding: 115px 0px 102px;
}

.food__list {
    display: flex;
    justify-content: space-between;
}

.food__item {
    width: 250px;
    justify-content: space-between;
}

.dish {
    overflow: hidden;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.03);

}

.dish__img-wrap {
    width: 54px;
    height: 54px;
}

.dish__img {
    margin: 33px 100px 123px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    text-align: center;
}

.dish__desc {
    padding: 33px 26px 27px;
    text-align: center;
}

.dish__tytle {
    margin-top: 0;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 13px;
}

.dish__text {
    line-height: 1.15;
}

.paragraph {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Hind Madurai', sans-serif;

}

.order {
    background: #F8EDF0;
    padding: 73px 0px;
    height: 50vh;

}

.order__container {
    display: flex;
    align-items: center;

}

.order__imd-wrap {
    width: 465px;
    height: 421px;

}

.order__colomn {
    width: 1100px;
    height: 657px;
}

.order__img {
    margin-bottom: 50px;
    margin-left: 130px;
    width: 500px;
    height: 440px;
}

.order__desc {}

.call-to-action {}

.order__call-to-action {
    max-width: 100%;


}

.call-to-action__tytle {
    font-weight: 500;
    font-size: 44px;
    line-height: 1.18;

}

.order__call-to-action-tytle {
    font-size: 44px;
    margin-bottom: 24px;
}

.call-to-action__text {
    margin-bottom: 13px;


}

.price {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-bottom: 11px;
}

.price-new--size--big {
    font-size: 20px;
}

.price__new {
    color: rgba(246, 118, 44, 1);
}

.price__old {
    text-decoration: line-through;
    color: rgba(246, 118, 44, 0.7);
}

.izgoy1 {
    width: 51px;
    height: 44px;
}

.izgoy {
    width: 32px;
    height: 43px;
}

.giv {
    height: 320px;
    width: 100%;
    display: flex;
}

.container__text {
    max-width: 442px;
}